body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    color: white;
    text-align: center;
}

.container {
    margin-top: 100px;
}

/* TITLE STYLE */
.main-title {
    font-size: 48px;
    font-weight: bold;
    color: #ffcc00;
    text-shadow: 0 0 15px #ffcc00;
}

/* INPUT BOX */
input {
    padding: 12px;
    margin: 15px;
    border-radius: 10px;
    border: none;
    width: 260px;
    font-size: 16px;
}

/* UNIQUE BUTTON */
.generate-btn {
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(45deg, #ffcc00, #ff8800);
    color: black;
    transition: 0.3s ease;
    box-shadow: 0 0 15px #ffcc00;
}

.generate-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px #ff8800;
}